<html>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1> Mission to Mars! <h1>
                <p> other text </p>

        </div>
        <img src="{{scrapedinfo.Image}}">
        <br/>
        <h2>{{scrapedinfo.heading.title}}</h2>
        <h3>{{scrapedinfo.heading.paragraph}}</h3>
        <br/>

        
        <div class=col-md-8 text-center">
            <img src="  }}" alt="Hemispheres">
            
        </div>
        <br/>

            
  </body>
  </html>

